.event {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid lightblue;
  color: #112d49;
  background-color: #fbfef9;
  user-select: none;
}

.eventText {
  width: 100%;
  text-align: left;
}

.eventIcon {
  font-size: 1.8rem;
  margin-right: 10px;
  color: pink;
}

.completedEvent {
  background-color: unset;
  border-color: black;
  color: black;
}

.event.completedEvent .eventIcon,
.event.completedEvent .checkIcon,
.event.completedEvent .deleteIcon {
  color: black;
}

.checkIcon,
.deleteIcon {
  cursor: pointer;
  color: lightgrey;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
}

.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.checkIcon:hover {
  color: green;
}

.deleteIcon:hover {
  color: red;
}
