.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.active {
  color: navy;
  text-decoration: none;
}
h1 {
  font-size: 2.2rem;
}

nav a {
  margin: 15px;
}

nav {
  background-color: aliceblue;
  padding: 10px;
}
